@charset "UTF-8";
#full{
	width:1200px;
	height:768px;
	margin:0 auto;	
	background-image:url('../img/bg.png');
	background-size:cover;
}
.btnr{
	position: absolute;
	margin-top: 5px;
	margin-left: 243px;
}
