.logo-box{
	width: 16%;
	padding-bottom: 2%;
}
.face-box{
	width: 67px;
	height: 67px;
	margin-bottom: 2%;
	border-radius: 67px;
	border:3px solid #fff;
}
.face-box.male-face{
	background: url('../img/face_m.jpg') no-repeat center center /cover;
}
.face-box.female-face{
	background: url('../img/face_f.jpg') no-repeat center center /cover;
}
.sex-box{
	width: 64px;
	overflow: hidden;
}
.sex-box a.sex-btn{
	display: block;
	width: 25px;
	border-radius: 5px;
	height: 25px;
	margin-bottom: 13%;
}
.sex-box a.sex-female{
	float: right;
	background: url(../img/sex_btn.png) no-repeat -14px -22px/135% #fff;
}
.sex-box a.sex-female.active{
	background-position:-14px 2px;
}
.sex-box a.sex-male{
	float: left;
	background: url(../img/sex_btn.png) no-repeat 5px -22px/135% #fff;
}
.sex-box a.sex-male.active{
	background-position:5px 2px;
}
.form-box{
	width: 80%;
}
.form-box .input-box{
	width: 100%;
	background: #fff;
	overflow: hidden;
	border-radius: 20px;
	height: 10%;
	padding:2% 0;
	margin-bottom: 4%;
}
.form-box  label{
	overflow: hidden;
	display: block;
	float: left;
	width: 32px;
	margin-right: 8px;
	text-indent: 100px;
	height: 100%;
}
.form-box label.label-name{
	background: url('../img/person_icon.png') no-repeat center right/60%;
}
.form-box label.label-nickname{
	background: url('../img/nick_icon.png') no-repeat center right/65%;
	

}
.form-box label.label-mobile{
	background: url('../img/mobile_icon.png') no-repeat center right/66%;
	
}
.form-box label.label-city{
	background: url('../img/address_icon.png') no-repeat center right/72%;
	
}
.form-box label.label-job{
	background: url('../img/job_icon.png') no-repeat center right/60%;
	
}
.form-box label.label-birthday{
	background: url('../img/birthday_icon.png') no-repeat center right/60%;
	
}
.form-box label.label-email{
	background: url('../img/email_icon.png') no-repeat center right/60%;
	
}
.form-box .small-input{
	margin-bottom: 6%;
	height: 13%;
}
.form-box .small-box{
	background-color: #fff;
	border-radius: 20px;
	height: 79%;
	width: 58%;
	padding:2% 0;
	float: left;
	margin-right: 1%;
}
.form-box .small-box input{
	height: 82%;
}
.form-box input{
	border: 0;
	height: 80%;
	width: 78%;
	font-size: 0.8em;
	padding-left: 5px;
	border-left: 1px solid #2954a4;
	border-radius: 0;
}
.form-box .small-box input{
	width: 79px;
}
.form-box .small-input .button-div{
	float: left;
	border-radius: 20px;
	overflow: hidden;
	background: #fff;
	color:#d9d7d7;
	padding: 2% 0;
}
.form-box .small-input button{
	border: 0;
	text-align: center;
	background: #fff;
	color:#d9d7d7;
}
.form-box .small-input .code-div{
	float: left;
	border-radius: 20px;
	text-align: center;
	background: #fff;
	color:#d9d7d7;
	width: 17%;
	padding: 2% 0;
	height: 10%;
	margin-right: 1%;
	overflow: hidden;
}
.form-box .small-input .code-input{

	border: 0;
}
.form-box .small-input .count-time{
	padding-left: 15px;
	width: 54px;
	color:#a9a9a9;
	font-size: 0.8em;
	padding-right: 0;
	background: url('../img/send_icon.png') no-repeat 5px center/29% #fff;
}
.form-box .select-box{
	float: left;
	width: 40%;
	position: relative;
	height: 100%;
}
.form-box .select-box select{
	width: 100%;
	border: 0;
	-webkit-appearance: none;
	background: #fff;
	height: 99%;
	font-size: 0.8em;
	position: absolute;
	padding-left: 24%;
	z-index: 999;
	border-radius: 0;
	color: #000;
	text-align: center;
	background-color:transparent;
}
.form-box .select-box select option{
	color: #000;
	text-align: center;
	-webkit-appearance: none;

}
.form-box .select-box select.select-left{
	border-left: 1px solid #2954a4;
	border-radius: 0;
	height: 99%;
}
.form-box .input-box em, .form-box .small-input em{
	font-style: normal;
	color: #a9a9a9;
	float: left;
	line-height: 25px;
	position: absolute;
	padding-top: 2px;
	width: 16px;
	right: 0;
	top: 0;
	font-size: 0.8em;
	display: block;
	vertical-align: middle;
	padding-right: 20px;
	background: url('../img/triangle_icon2.png') no-repeat 16px 8px/37% #fff;
}
.form-box .small-input em{
	color: #fff;
	width: 0;
	padding-right: 36px;
}
.form-box .check-box{
	overflow: hidden;
}
.form-box .check-box input{
	width: 8%;
	height: 22px;
	background: #fff;
	border-radius: 5px;
	float: left;
	padding: 0;
	margin-right: 2%;
	-webkit-appearance: none;
}
.form-box .check-box input:checked{
	background: url('../img/yes.png') no-repeat 3px 6px/80%;
	background-color: #fff;
}
.form-box .check-box a{
	display: block;
	float: left;
	width: 88%;
	line-height: 26px;
	text-align: center;
	color: #d9d7d7;
	text-decoration: none;
	font-size: 0.8em;
	background: #fff;
	border-radius: 10px;
}
.form-box .check-box a.active{
	color: #111;
}
.form-box .submit-box{
	padding-top: 5%;
	text-align: center;
}
.form-box .submit-box button{
	width: 135px;
	border-radius: 10px;
	height: 30px;
	line-height: 30px;
	color: #012269;
	padding: 0;
	font-size: 0.8em;
	background: #88abda;
	border: 0;

}
.agreement-pop h4{
	color: #fff;
	position: absolute;
	top: 30%;
	font-weight: normal;
	font-size: 1.2em;
	text-align: center;
	width: 100%;

}
.agreement-pop p.agreement-p{
	color: #fff;
	font-size: 1em;
	width: 250px;
	left: 50%;
	margin-left: -125px;
	top: 37%;
	height: 194px;
	overflow-y:auto;
	line-height: 1.2em;
	position: absolute;
	text-align: center;

}
.tips-pop p.tips-in{
	color: #fff;
	font-size: 1.4em;
	width: 100%;
	top: 40%;
	line-height: 1.8em;
	position: absolute;
	text-align: center;
}
.success-pop h4{
	color: #fff;
	position: absolute;
	top: 25%;
	font-weight: normal;
	font-size: 1.4em;
	line-height: 1.8em;
	text-align: center;
	width: 100%;
}
.success-pop p{
	color: #fff;
	font-size: 1em;
	width: 250px;
	left: 45%;
	margin-left: -125px;
	top: 40%;
	position: absolute;
	text-align: center;
}
.success-pop-invited h4{
	color: #fff;
	position: absolute;
	top: 20%;
	font-weight: normal;
	font-size: 1.2em;
	line-height: 1.3em;
	text-align: center;
	width: 100%;

}
.success-pop-invited p.success-p{
	color: #fff;
	text-align: center;
	width: 100%;
	font-size: 0.5em;
	position: absolute;
	top: 30%;
}
.success-pop-invited p.p-bottom{
	color: #fff;
	text-align: center;
	width: 100%;
	font-size: 0.5em;
	line-height: 1.4em;
	position: absolute;
	top: 64%;
}
.success-pop-invited .img-box{
	width: 130px;
	left: 50%;
	margin-left: -65px;
	position: absolute;
	top: 37%;
}
.success-pop-invited .img-box img{
	width: 100%;

}
.success-pop-invited .btn-box{
	top: 75%;
}
.top-info{
	width: 100%;
	padding:3% 0 4%;
	overflow: hidden;
}

.top-info .left-face{
	float: left;
	width: 97px;
	height: 97px;
	border-radius: 97px;
	overflow: hidden;
	background: #fff;
}
.top-info .left-face img{
	border-radius: 97px;

}
.top-info .left-face{
	padding: 5px;
	margin-right: 9%;
	margin-left: 11%;
}
.top-info .right-info{
	float: left;
}

.top-info .right-info .name-span{
	color: #fff;
}
.top-info .right-info .identified-icon{
	display: none;
}
.top-info .right-info .identified-icon img{
	width: 50px;
	padding-left: 5px;
	display: inline-block;
}
.top-info .right-info .btn-box{
	position: relative;
	width: 132px;
	height: 40px;
}
.top-info .right-info a.upload-triangle{
	display: block;
	color: #bababa;
	width: 100%;
	top: 13px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	background-color: #fff;
	border-radius: 10px;
	font-size: 0.8em;
	position: absolute;
}
.top-info .right-info .btn-box em{
	position: absolute;
	width: 14px;
	display: block;
	top: 7px;
	right: 14px;
	height: 6px;
	background: url('../img/triangle_icon.png') no-repeat center center /cover;
}
.top-info.identified .left-face{
	background: url('../img/face_gold.png') no-repeat center center /cover;

}
.top-info.identified .identified-icon{
	display: inline-block;
}

.level-box a.level-info{
	display: block;
	width: 195px;
	position: relative;
	height: 23px;
}
.level-box a.level-info span{
	position: absolute;
	color: #fff;
	top: 4px;
	font-size: 0.8em;
	

}
.level-box a.level-info span i{
	background: url('../img/level_bar.png') no-repeat bottom left /1000%;
	width: 9px;
	padding-right: 11px;
	height: 13px;
	display: block;
	float: left;
}
.level-box a.level-info.level-2 span{
	left: 10%;
}
.level-box a.level-info.level-2 span i{
	background-position: -15px bottom; 
}
.level-box a.level-info.level-3 span{
	left: 20%;
}
.level-box a.level-info.level-3 span i{
	background-position: -34px bottom; 
}
.level-box a.level-info.level-4 span{
	left: 26%;
}
.level-box a.level-info.level-4 span i{
	background-position: -54px bottom; 
}
.level-box a.level-info.level-5 span{
	left: 40%;
}
.level-box a.level-info.level-5 span i{
	background-position: -74px bottom; 
}
.level-box a.level-info.level-6 span{
	left: 50%;
}
.level-box a.level-info.level-6 span i{
	background-position: -94px bottom; 
}
.level-box a.level-info.level-7 span{
	left: 53%;
}
.level-box a.level-info.level-7 span i{
	background-position: -114px bottom; 
}
.level-box a.level-info.level-8 span{
	left: 65%;
}
.level-box a.level-info.level-8 span i{
	background-position: -134px bottom; 
}
.level-box a.level-info.level-9 span{
	left: 70%;
}
.level-box a.level-info.level-9 span i{
	background-position: -154px bottom; 
}
.level-box a.level-info.level-10 span{
	left: 75%;
}
.level-box a.level-info.level-10 span i{
	background-position: -174px bottom; 
}
.level-box a.level-info em{
	width: 88%;
	display: block;
	height: 10px;
	position: absolute;
	top: 17px;
	background: url('../img/level_bar.png') no-repeat top left /cover;
}
.top-info .status-info{
	overflow: hidden;
	padding-top: 5%;
}
.top-info .status-info li{
	float: left;
	background: url('../img/center_icon1.png') no-repeat;
	background-color: #1c3d7f;
	border-radius: 10px;
	margin-right: 4px;
	background-size: 40%;
	color: #fff;
	height: 1.1em;
	line-height: 1.1em;
	text-align: center;
	font-size: 0.8em;
	width: 40px;
	padding:5px 0px 5px 14px;
}
.top-info .status-info li span{
	line-height: 1.1em;

}
.top-info .status-info li.like-icon{
	background-position: 5px 7px;
}
.top-info .status-info li.saw-icon{
	background-position: 4px -14px;
}
.top-info .status-info li.good-icon{
	background-position: 5px -36px;
}
.top-info .status-info li span{
	text-align: center;
}
.decorate-box{
	width: 92%;
	border-radius: 10px;
	background-color: #193a7d;
}
.decorate-box h5{
	text-align: center;
	color: #fff;
	font-weight: normal;
	font-size: 1.2em;
	line-height: 1.4em;
	margin-bottom: 3%;
	padding-top: 3%;
}
.decorate-box .list-box li{
	margin: 0 0%;
	padding-top: 0;
}
.decorate-box .list-box{
	overflow: hidden;
	width: 100%;

}
.decorate-box li{
	float: left;

}
.decorate-box .list-1 a{
	width: 80px;
	margin:0 2px;

}
.decorate-box .list-2 a{
	width: 80px;
	margin: 0 15px;

}
.decorate-box li a{
	color: #fff;
	background: url('../img/decorate_icon.png') no-repeat -12px 0;
	text-align: center;
	padding-top:76px;
	height: 26px;
	font-size: 0.9em;
	overflow: hidden;
	background-size: 315%;
	display: block;
}
.decorate-box li a.list-01-01.active{
	background-position: -158px -1px;
}
.decorate-box li a.list-01-02{
	background-position: -12px -102px;
}
.decorate-box li a.list-01-02.active{
	background-position: -160px -100px;
}
.decorate-box li a.list-01-03{
	background-position: -12px -217px;
}
.decorate-box li a.list-01-03.active{
	background-position: -162px -216px;
}
.decorate-box li a.list-02-01{
	background-position: -12px -341px;
}
.decorate-box li a.list-02-01.active{
	background-position: -162px -340px;
}
.decorate-box li a.list-02-02{
	background-position: -12px -464px;
}
.decorate-box li a.list-02-02.active{
	background-position: -162px -463px;
}
.interest-box{
	padding:3% 0;
	width: 100px;
}
.interest-box a{
	width: 100%;
	display: block;
	font-size: 0.9em;
	height: 20px;
	line-height: 20px;
	background: url('../img/center_icon.png') no-repeat right center /30%;
}
.interest-box em{
	color: #fff;
	font-style: normal;
	border-bottom: 1px solid #fff;
}
.standard-box{
	padding:3% 0;
	width: 160px;
}
.standard-box a{
	width: 100%;
	display: block;
	font-size: 0.9em;
	height: 20px;
	line-height: 20px;
	background: url('../img/center_icon.png') no-repeat right center /20%;
}
.standard-box em{
	color: #fff;
	font-style: normal;
	border-bottom: 1px solid #fff;
}
.footer-btn{
	position: absolute;
	bottom:0;
	overflow: hidden;
	width: 100%;
	height: 8%;
}
.footer-btn li{
	float: left;
	height: 54px;
	width: 24.6%;
	padding:0 0.2%;
	text-align: center;
}
.footer-btn li a{
	color: #fff;
	display: block;
	width: 100%;
	height: 100%;
	background-color: #305290;
	line-height: 47px;
}
.footer-btn li a.activity-btn{
	border-left: 0 none;
	border-top: 3px solid #fd1503;
}
.footer-btn li a.friend-btn{
	border-top: 3px solid #04d6d9;
}
.footer-btn li a.code-btn{
	border-top: 3px solid #f1dd06;
}
.footer-btn li a.work-btn{
	border-top: 3px solid #58f405;
}
.information-title{
	color: #fff;
	text-align: center;
	font-size: 1.1em;
	padding-top:7%;
	padding-bottom: 4%;
}
.information-p{
	color: #fff;
	text-align: center;
	font-size: 0.5em;
	line-height: 1.8em;
	padding-bottom: 4%;
}
.title-bg{
	background: url('../img/line.png') no-repeat top center ;
}
.scroll-box {
	height: 483px;
	width: 90%;
	overflow-x:hidden;
	overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 4px;  
    height: 4px;  
    background-color: #011b54;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    border-radius: 5px;  
    background-color: #011b54; 
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 5px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #6987bf;  
} 
.information-box .face-box{
	border-radius: 90px;
	width: 90px;
	height: 90px;
	text-align: center;
	background: #fff;
	border:0 none;
	padding: 4px;
	overflow: hidden;
}
.information-box .face-box img{
	width: 100%;
	display: inline-block;
	border-radius: 97px;
}
.information-box .identified .face-box{
	background: url('../img/face_gold.png') no-repeat center center /cover;
}
.information-box .sex-box{
	width: 25px;
	padding-top:3%;
	padding-bottom: 1%
}
.information-box .sex-box a{
	background-color: #a6bce4;
	margin-bottom: 22%;
}
.information-box .name-box {
	text-align: center;
	padding-bottom: 2%;
}
.information-box .name-box em{
	color: #fff;
}
.information-box .name-box .identified-icon{
	display: none;
}
.information-box .name-box .identified-icon img{
	width: 50px;
	padding-left: 5px;
	display: inline-block;
}
.information-box .identified .name-box .identified-icon{
	display: inline-block;
}
.form-box .input-box.only-read{
	background-color: #a6bce4;
	color: #012269;
}
.form-box .input-box.only-read input{
	background-color:  #a6bce4;
	color: #012269;

}
.form-box .select-box.birthday-select {
	width: 32%;
}
.form-box .select-box.birthday-select select{
	width: 100%;
}
.form-box .select-box.birthday-select-short {
	width: 24%;
}
.form-box .select-box.birthday-select-short select{
	width: 100%;
}
.form-box p.input-tips{
	color: #fff;
	text-align: center;
	font-size: 0.8em;
}
.uploaded-image{
	width: 93%;
	position: relative;
	border-radius: 5px;
	padding-bottom: 3%;
	background-color: #193a7d;
	margin-bottom: 3%;
}
.uploaded-image i{
	position: absolute;
	width: 20px;
	height: 11px;
	display: block;
	left: 50%;
	top: -11px;
	background: url('../img/triangle_icon1.png') no-repeat center center /cover;
}
.uploaded-image p{
	text-align: center;
	color: #fff;
	font-size: 0.75em;
	padding: 2.4% 0;
}
.uploaded-image .ul-box{
	height: 66px;
	margin:0 auto;
}
.uploaded-image li{
	float: left;
	width: 17%;
	position: relative;
	height: 17%;
	margin:0 2%;
}
.uploaded-image li a.close-btn{
	width: 25px;
	height: 25px;
	position: absolute;
	right: -10px;
	display: block;
	top: -10px;
	background: url('../img/close_btn1.png') no-repeat center center /cover;
}
.uploaded-image li strong.ok-icon{
	width: 30px;
	height: 25px;
	position: absolute;
	left: -8px;
	display: none;
	bottom: -5px;
	background: url('../img/ok_icon.png') no-repeat center center /cover;
}
.uploaded-image li img{
	width: 100%;
	height: 100%;
}
.uploaded-image li .upload-box{
	position: relative;
	border:3px dashed #fff;
}
.uploaded-image li em{
	position: absolute;
	color: #fff;
	background: url('../img/plus.png') no-repeat center center /70%;
	display: block;
	width: 100%;
	height: 100%;
	font-size: 5em;
}
.uploaded-image li div{
	height: 90%;
	width: 90%;
}

.uploaded-image li input{
	width: 100%;
	overflow: hidden;
	text-indent: 1000px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9;
}
.tips-info{
	width: 140px;
	text-align: center;
	color: #828ba8;
	font-size: 0.8em;
	display: none;
}
.tips-info p{
	line-height: 1.5em;
}
.form-upload .submit-box{
	padding-top: 10%;
	text-align: center;
}
.form-upload .submit-box button{
	width: 135px;
	border-radius: 10px;
	height: 30px;
	line-height: 30px;
	padding: 0;
	font-size: 0.8em;
	border: 0;

}
.form-upload .status-box{
	text-align: center;
	color: #fff;
	display: none;
}
.form-upload .status-box h3{
	font-size: 1em;
	padding-top: 1%;
	padding-bottom: 2%;
	background: url('../img/line_2.png') no-repeat top center /70%;
}
.form-upload .status-box p{
	font-size: 0.5em;
	padding-bottom: 1%;
	background: url('../img/line_2.png') no-repeat bottom center /70%;

}
.form-upload .status-box img{
	width: 57%;
	display: inline-block;
}
.form-upload.status-0 .submit-box button{
	background: #88abda;
	color: #012269;
}
.form-upload.status-3 .submit-box button{
	background: #88abda;
	color: #012269;
	width: 76px;
}
.form-upload.status-3 strong.ok-icon{
	display: block;
}
.form-upload.status-3 .submit-box button.short-btn{
	margin-right: 66px;
}
.form-upload.status-2 .submit-box button{
	background: #88abda;
	color: #012269;
}
.form-upload.status-1 .submit-box{
	padding-top: 30px;
}
.form-upload.status-2 .submit-box{
	padding-top: 30px;
}
.form-upload.status-3 .submit-box{
	padding-top: 30px;
}
.form-upload.status-1 .submit-box button{
	background: #a6a6a6;
	color: #505050;
}
.form-upload.status-1 .status-1-info{
	display: block;
}
.form-upload.status-2 .status-2-info{
	display: block;
}
.form-upload.status-3 .status-3-info{
	display: block;
}
.form-upload.status-2 .status-2-info img{
	width: 40%;
}
.form-upload.status-0 .tips-info{
	display: block;
}
.form-upload.status-1 a.close-btn{
	display: none;
}
.form-upload.status-3 a.close-btn{
	display: none;
}
.form-box  .receiver-btn {
	padding-top: 16%;
}
.form-box  .receiver-btn button {
	width: 74px;
	margin: 0 20px;
}
.mission-body{
	padding:7px 0;
	width: 92%;
	background-color: #193a7d;

}
.mission-box {
	border-radius: 10px;
	background-color: #193a7d;
	width: 93%;
	height: 344px;
	overflow-x:hidden;
	overflow-scrolling: touch;

	-webkit-overflow-scrolling: touch;
}
.mission-box li{
	overflow: hidden;
	padding-top: 1%;
	padding-left: 3%;
}
.mission-box li .left-info{
	float: left;
	color: #fff;
	width: 80px;
	font-size: 0.5em;
	text-align: center;
	padding-top: 80px;
	background: url('../img/decorate_icon.png') no-repeat -19px 2px ;
	background-size: 350%;
}
.mission-box li .left-info.list-1.participated{
	background-position: -183px 2px;
}
.mission-box li .left-info.list-2{
	background-position: -19px -113px;
}
.mission-box li .left-info.list-2.participated{
	background-position: -183px -113px;
}
.mission-box li .left-info.list-3{
	background-position: -19px -239px;
}
.mission-box li .left-info.list-3.participated{
	background-position: -187px -239px;
}
.mission-box li .left-info.list-4{
	background-position: -19px -377px;
}
.mission-box li .left-info.list-4.participated{
	background-position: -185px -377px;
}
.mission-box li .left-info.list-5{
	background-position: -19px -515px;
}
.mission-box li .left-info.list-5.participated{
	background-position: -185px -515px;
}
.mission-box li .right-info{
	float: left;
	width: 65%;
}
.mission-box li .bar-box{
	padding-top: 27px;
	padding-left: 10px;
	color: #fff;
}
.mission-box li .bar-box em{
	display: block;
	position: relative;
	width: 100%;
	border-radius: 3px;
	height: 11px;
	background: url('../img/bar_line.png') no-repeat left center /100% 100%;
}
.mission-box li .bar-box em strong{
	position: absolute;
	height: 11px;
	border-radius: 4px;

}
.mission-box li .bar-box em strong.green{
	background: url('../img/green_bar.png') no-repeat left center;

}
.mission-box li .bar-box em strong.yellow{
	background: url('../img/yellow_bar.png') no-repeat left center;

}
.mission-box li .bar-box em strong.red{
	background: url('../img/red_bar.png') no-repeat left center;

}
.mission-box li .bar-box em strong.blue{
	background: url('../img/blue_bar.png') no-repeat left center;

}
.mission-box li .bar-box em strong.purple{
	background: url('../img/purple_bar.png') no-repeat left center;

}
.mission-box li .bar-box em i{
	position: absolute;
	z-index: 9;
	font-size: 0.8em;
	left: 45%;
}
.mission-box li .bar-box em span{
	display: block;
	width: 20px;
	top: -2px;
	height: 12px;
	position: absolute;
}
.mission-box li .bar-box em span.green{
	background: url('../img/green_brush.png') no-repeat center center /100% 100%;

}
.mission-box li .bar-box em span.yellow{
	background: url('../img/yellow_brush.png') no-repeat center center /100% 100%;

}
.mission-box li .bar-box em span.red{
	background: url('../img/red_brush.png') no-repeat center center /100% 100%;

}
.mission-box li .bar-box em span.blue{
	background: url('../img/blue_brush.png') no-repeat center center /100% 100%;

}
.mission-box li .bar-box em span.purple{
	background: url('../img/purple_brush.png') no-repeat center center /100% 100%;

}
.mission-box li .btn-box {
	overflow: hidden;
	padding-top: 8%;
	padding-left: 16%;
}
.mission-box li .btn-box a{
	display: block;
	width: 38%;
	margin: 0 5%;
	line-height: 30px;
	height: 30px;
	font-size: 0.8em;
	text-align: center;
	color: #012269;
	float: left;
	background-color: #88abda;
	border-radius: 20px;
}
.job-box .job-logo {
	padding-top: 4%;
	text-align: center;
	font-size: 0.8em;
	color: #fff;
}
.job-box .job-logo img{
	margin: 0 auto;
	width: 48%;
	padding-left: 20px;
}
.job-box h4{
	color: #fff;
	text-align: center;
	padding-top: 4%;
	padding-bottom: 2%;
}
.job-box p{
	color: #fff;
	height: 158px;
	overflow-x:auto;
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.job-box .btn-box{
	padding-top: 13%;
}
.job-box .btn-box a{
	display: block;
	width: 170px;
	height: 30px;
	margin: 0 auto;
	line-height: 30px;
	text-align: center;
	color: #012269;
	background-color: #88abda;
	border-radius: 20px;
}
.list-title{
	color: #fff;
	text-align: center;
	font-size: 1.5em;
	padding: 3% 0 7%;
}
.list-body{
	padding: 2%;
	position: relative;
	background-color: #193a7d;
	border-radius: 5px;
	width: 90%;
}
.list-body i{
	position: absolute;
	width: 20px;
	height: 11px;
	display: block;
	left: 47%;
	top: -11px;
	background: url('../img/triangle_icon1.png') no-repeat center center /cover;

}
.list-body .list-box{
	width: 96%;
	overflow-x:hidden;
	overflow-scrolling: touch;

	-webkit-overflow-scrolling: touch;
}
.list-box li{
	padding-top: 20px;
	padding-right: 10px;
	overflow: hidden;
}
.list-box li .left-box{
	float: left;
	color: #fff;
	font-size: 0.8em;
	width: 35%;
}
.list-box li .left-box p{
	padding-left: 5px;

}
.list-box li .right-box{
	float: left;
	height: 20px;
	width: 65%;
	padding-top: 9%;
}
.list-box li .right-box.status-1 {
	background: url('../img/status_icon1.png') no-repeat top left /100%;
}
.list-box li .right-box.status-2 {
	background: url('../img/status_icon2.png') no-repeat top left /100%;
}
.list-p{
	color: #fff;
	width: 70%;
	margin: 0 auto;
	text-align: center;
	padding-top: 4%;
	word-wrap: break-word;
}
.activity-box{
	width: 85%;
	padding-top: 2%;
}
.activity-box li{
	padding-bottom: 10%;
}
.activity-box .activity-list{
	border-radius: 5px;
	overflow: hidden;
	position: relative;
}
.activity-box .activity-list img{
	width: 100%;
}
.activity-box .activity-list .activity-info{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 32px;
	background: url('../img/opacity.png') repeat;
}
.activity-box .activity-list .activity-info p{
	color: #012269;
	font-size: 0.5em;
	padding-left: 10px;
	padding-top: 2px;
	line-height: 1.4em;
}
.activity-box .activity-list .activity-left{
	float: left;
	width: 70%
}
.activity-box .activity-list .activity-right{
	float: left;
	width: 30%;
	padding-top: 4px;
}
.activity-box .activity-list .activity-right a{
	color: #012269;
	background-color: #88abda;
	display: block;
	width: 66px;
	line-height: 24px;
	height: 24px;
	float: right;
	margin-right: 6%;
	border-radius: 18px;
	text-align: center;
	font-size: 0.8em;
}
.information-top{
	height: 41%;
}
.integration-box .level-box{
	width: 176px;
	margin: 0 auto;
}
.integration-detail{
	background-color: #193b7d;
	border-radius:10px;
	height: 37%;
	width: 71%;
	padding: 10px;
	position: relative;
}
.integration-detail .integration-list{
	width: 96%;
	overflow-x:hidden;
	padding:2% 0;
	height: 76%;
	overflow-scrolling: touch;

	-webkit-overflow-scrolling: touch;
}
.integration-detail h3{
	color: #fff;
	text-align: center;
	padding-bottom: 6%;
	font-size: 1em;
}
.integration-detail li{
	color: #fff;
	margin: 0 auto;
	width: 98%;
	overflow: hidden;
	line-height: 36px;
	height: 36px;
	font-size: 0.8em;
	background: url('../img/line_1.png') no-repeat center bottom /cover;
}
.integration-detail li span.left{
	float: left;
	padding-left: 13%;

}
.integration-detail li span.right{
	float: right;
	padding-right: 13%;

}
.integration-detail i{
	width: 20px;
	display: block;
	bottom: -8px;
	left: 45%;
	position: absolute;
	height: 8px;
	background: url('../img/triangle_icon2.png') no-repeat center center /cover;
}
.integration-box .btn-box{
	padding-top: 5%;
}
.integration-box .btn-box a{
	display: block;
	width: 100px;
	margin: 0 auto;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #012269;
	font-size: 0.8em;
	background-color: #88abda;
	border-radius: 20px;
}
.information-position{
	position:absolute;
	top: 50%;
	left: 50%;
}
.form-box .small-input em.em-icon{
	width:28px;
	top: 15%;
	right: 15%;
	height:17px;
	background-size:48%;
	background-position: 9px 12px; 
	padding-right:0;
}
.information-position .form-box em{
	background-position: 16px 13px; 
} 
.conter-triangle {
	/*采用透明加背景*/
	/*width: 0;
	height: 0;
	margin: auto;
	padding: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	background: url(img/triangle_icon1.png)no-repeat center;*/
	width: 27px;
	height: 13px;
	margin: auto;
	background: url(../img/triangle_icon1.png)no-repeat center;
}

.conter-square {
	width: 95%;
	height: 181px;
	padding: 0 2.5%;
	border-radius: 5px;
	overflow: hidden;
	background: url(../img/bg_invita_read.png)no-repeat;
	background-size: 100% 100%;
}

.conter-square form {
	font-size: 12px;
	text-align: left;
	padding: 10px 10px;
}

.conter-square form div {
    line-height: 25px;
}