html, body{font-size:1em;position: relative;width:100%;height: 100%;padding:0;margin:0;background: #012269;}
img {display:block;width: 100%;padding:0;margin: 0;}
a{text-decoration: none;}
ul,li{margin: 0;padding: 0;border:0 none;}
li{list-style-type:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;padding: 0;margin: 0;}
i,em,strong{font-style: normal;}
p{padding: 0;margin: 0;}
::-webkit-input-placeholder {
    color:#a9a9a9;
}
.pager {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.bg-1{
	background:url('../img/bg_1.jpg') no-repeat center top;
	background-size: cover;
}
.bg-2{
	background:url('../img/bg_2.jpg') no-repeat center top;
	background-size: cover;
}
.back-btn{
	width: 41%;
	padding: 2%;
}
.center-box{
	margin: 0 auto;
}
.overflow-box{
	overflow: hidden;
}
.hidden{display: none;}
.pop-overlay{
	position: fixed;
	background: url('../img/overlay.png') repeat;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: none;
}
.pop-overlay .close-btn{
	position: relative;
	width: 100%;
}
.pop-overlay .close-btn a{
	display: block;
	width: 22px;
	height: 22px;
	background: url('../img/close_btn.png') no-repeat center center /cover;
	right: 20px;
	top: 40px;
	position: absolute;
}
.pop-overlay .btn-box{
	width: 136px;
	position: absolute;
	top: 70%;
	left: 50%;
	margin-left: -68px;
}
.pop-overlay .btn-box a{
	background: #88abda;
	display: block;
	height: 30px;
	line-height: 30px;
	border-radius: 20px;
	color: #012269;
	text-align: center;

}
