.slider-0{
	
	background: url(../img/page3/background.png);
	background-size: cover;
}
.slider-1{

	background: url(../img/page3/background1.jpg);
	background-size: cover;
}
.slider-2{

	background: url(../img/page3/background2.jpg);
	background-size: cover;
}
.slider-3{

	background: url(../img/page3/background3.jpg);
	background-size: cover;
}
.slider-4{

	background: url(../img/page3/background_2.jpg);
	background-size: cover;
}
.woman{
	position: absolute;
	top: 25%;
	left: 21%;
	width: 60%;
	z-index: 5;
}
.click{
	position: absolute;
	top: 5%;
	left: 3%;
	width: 38%;
	z-index: 6;
}
.weijin{
	position: absolute;
	top: 10%;
	left: 60%;
	width: 18%;
	z-index: 6;
	animation:weijin 2s linear 0s infinite normal forwards;
	-webkit-animation:weijin 2s linear 0s infinite normal forwards;

}
@keyframes weijin
{
	0%   {transform:rotate(30deg);}
	50% {transform:rotate(0);}
	100% {transform:rotate(30deg);}
}
@-webkit-keyframes weijin /* Safari and Chrome */
{
	0%   {-webkit-transform:rotate(30deg);}
	50% {-webkit-transform:rotate(0deg);}
	100% {;-webkit-transform:rotate(30deg);}
}
.yaling{
	position: absolute;
	top: 60%;
	left: 8%;
	width: 15%;
	z-index: 6;
	animation:yaling 2s linear 0s infinite normal forwards;
	-webkit-animation:yaling 2s linear 0s infinite normal forwards;
}
@keyframes yaling
{
	0%   {transform:rotate(-20deg);}
	50% {transform:rotate(0deg);}
	100% {transform:rotate(-20deg);}
}
@-webkit-keyframes yaling /* Safari and Chrome */
{
	0%   {-webkit-transform:rotate(-20deg);}
	50% {-webkit-transform:rotate(0);}
	100% {;-webkit-transform:rotate(-20deg);}
}
.xiongzhao{
	position: absolute;
	top: 80%;
	left: 60%;
	width: 25%;
	z-index: 6;
	animation:xiongzhao 2s linear 0s infinite normal forwards;
	-webkit-animation:xiongzhao 2s linear 0s infinite normal forwards;
}
@keyframes xiongzhao
{
	0%   {transform:translateY(-20px)}
	50% {transform:translateY(0)}
	100% {transform:translateY(-20px)}
}
@-webkit-keyframes xiongzhao /* Safari and Chrome */
{
	0%   {-webkit-transform:translateY(-20px)}
	50% {-webkit-transform:translateY(0)}
	100% {;-webkit-transform:translateY(-20px)}
}
.chuqi{
	position: absolute;
	top: 50%;
	left: 10%;
	width: 10%;
	z-index: 6;
	animation:chuqi 2s linear 0s infinite normal forwards;
	-webkit-animation:chuqi 2s linear 0s infinite normal forwards;
}
@keyframes chuqi
{
	0%   {transform:translate(0,0);opacity:1;}
	100% {transform:translate(10px,10px);opacity:0;}
}
@-webkit-keyframes chuqi /* Safari and Chrome */
{
	0%   {-webkit-transform:translate(0,0);opacity:1;}
	100% {;-webkit-transform:translate(-20px,-20px);opacity:0;}
}
.cover{
	position: absolute;
	width: 100%;
	left: 0px;
	z-index: 22;
	bottom:-250px;
	
}
.woman_dong{
	display: none;
	position: absolute;
	top: 0%;
	left: 10%;
	width: 80%;
	z-index: 6;
}
.swiper_2_1{
	position:absolute;
	top: 3%;
}
.swiper_2_2{
	position:absolute;
	top: 30.4%; 
}
.swiper_2_3{
	position:absolute;
	top: 58%; 
}
.swiper_1_1{
	position:absolute;
	top: 3%;
}
.swiper_1_2{
	position:absolute;
	top: 25.4%; 
}
.swiper_1_3{
	position:absolute;
	top: 47%; 
}
.swiper_1_4{
	position:absolute;
	top: 68%; 
}
.swiper_3_1{
	position:absolute;
	top: 5%;
}
.swiper_3_2{
	position:absolute;
	top: 29.4%; 
}
.swiper_3_3{
	position:absolute;
	top: 60%; 
}